<p id="notice"><%= notice %></p>

<h1>Publications</h1>

<%= search_form_for @q do |f| %>
  Search by ISBN
  <%= f.search_field :isbn %>

  Search by authors' emails
  <%= f.search_field :authors_email_cont %>

  <%= f.submit %>
<% end %>

<h3>Import</h3>
<%= form_tag import_publications_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag 'Import CSV' %>
<% end -%>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :title) %></th>
      <th>Isbn</th>
      <th>Description</th>
      <th>Published at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.title %></td>
        <td><%= publication.isbn %></td>
        <td><%= publication.description %></td>
        <td><%= publication.published_at %></td>
        <td><%= link_to 'Show', publication %></td>
        <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
        <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication', new_publication_path %>
